@import url("https://kraxen72.github.io/harmony-discord/main.css"); /*import harmony*/
:root {
  --Colleft: #0e0e13;
  --ColAccent: #a8a9d2;
  --ColMemberList: #161721;
  --background-primary: #1a1b26 !important;
  --background-secondary: #161721 !important;
}
.scrollableContainer-2NUZem {
  background-color: #1e212b !important;
}
.inner-3nWsbo,
.uploadModal-2ifh8j,
.tabBody-3YRQ8W {
  background-color: var(--background-primary) !important;
}
.footer-3mqk7D.hasSpoilers-1IRtQC {
  background-color: var(--Colleft);
}
